trigger:
- main

pool: Default

variables:
  # Container registry service connection established during pipeline creation
  dockerRegistryServiceConnection: '1e531f42-5362-4b4d-ba6c-dfd8bcaa3247'
  imageRepository: 'pipelinetest'
  containerRegistry: 'testdockergin.azurecr.io'
  dockerfilePath: '$(Build.SourcesDirectory)/Dockerfile'
  tag: '$(Build.BuildId)'

stages:
- stage: Build
  displayName: Build Devops base image
  jobs:
  - job: Build_and_Push
    steps:
    - task: JavaToolInstaller@0
      inputs:
        versionSpec: "18"
        jdkArchitectureOption: x64
        jdkSourceOption: LocalDirectory
        jdkFile: "C:\\\\Users\\jinwookim\\Downloads\\zulu-18.zip"
        jdkDestinationDirectory: "C:\\\\Users\\jinwookim\\Downloads\\zulu"
        cleanDestinationDirectory: true
    - task: Maven@3
      inputs:
        mavenPomFile: 'pom.xml'
        goals: 'clean package'
        options: '-P blue'
        publishJUnitResults: true
        testResultsFiles: '**/surefire-reports/TEST-*.xml'
        javaHomeOption: 'JDKVersion'
        jdkVersionOption: '1.18'
        mavenVersionOption: 'Default'
        mavenDirectory: 'C:\Program Files\maven\apache-maven-3.9.3'
        mavenAuthenticateFeed: false
        effectivePomSkip: false
        sonarQubeRunAnalysis: false
    - task: Docker@2
      displayName: Build image
      inputs:
        containerRegistry: 'testdockergin'
        repository: 'test'
        command: 'buildAndPush'
        Dockerfile: '**/Dockerfile'
        arguments: 'SPRING_PROFILES_ACTIVE=green'